<% content_for :page_title do %>
  <%= t('.title') %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th><%= attr_name Customer, 'name' %></th>
      <th><%= attr_name Customer, 'city' %></th>
      <th><%= attr_name Customer, 'direction' %></th>
      <th><%= attr_name Customer, 'observation' %></th>
      <th><%= attr_name Customer, 'active' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.city %></td>
        <td><%= customer.direction %></td>
        <td><%= customer.observation %></td>
        <td><%= customer.active %></td>
        <td><%= link_to t('action.show'), customer %></td>
        <td><%= link_to t('action.edit'), edit_customer_path(customer) %></td>
        <td><%= link_to t('action.destroy'), customer, method: :delete, data: { confirm: t('message.confirm_destroy') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('action.new'), new_customer_path %>
