<% content_for :page_title do %>
  <%= t('.title') %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th><%= Customer.human_attribute_name 'name' %></th>
      <th><%= Customer.human_attribute_name 'city' %></th>
      <th><%= Customer.human_attribute_name 'direction' %></th>
      <th><%= Customer.human_attribute_name 'observation' %></th>
      <th><%= Customer.human_attribute_name 'active' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.city %></td>
        <td><%= customer.direction %></td>
        <td><%= customer.observation %></td>
        <td><%= customer.active %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
