<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
     <%= render "layouts/header" %>
     <%= render "layouts/sidebar" %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <%= content_for :content_header %>
        </section>
        <!-- Main content -->
        <section class="content">
          <%= yield %>
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <%= render "layouts/footer" %>
    </div>
    <!-- ./wrapper -->
  </body>
</html>
